{
	# ACME account email for certificate notices
	email {env.CADDY_EMAIL}
	admin :2019
}

:80 {
	@health {
		path /health
	}
	respond @health "OK" 200
	redir https://simlal.dev{uri}
}

www.simlal.dev {
	redir https://simlal.dev{uri} permanent
}

simlal.dev {
	@health {
		path /health
	}
	respond @health "OK" 200

	# NOTE: Redirect GitHub repo
	redir https://github.com/simlal/vps-homelab permanent
}

# Observability
kuma.simlal.dev {
	reverse_proxy kuma:3001
}

# Healthcheck
healthcheck.simlal.dev {
	root * /srv/healthcheck
	file_server
}

# Curl-able cv next app
curl-cv.simlal.dev {
	reverse_proxy curl-cv:3000
}
